@page
@model IndexModel
@{
    ViewData["Title"] = "API - Loja by Mauricio";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Para acessar a API <a href="https://localhost:7096/swagger/index.html">acesse o swegger e aproveite</a>.</p>
</div>
